#bodytext1 {
    font-size: 2vw;
    font-stretch: expanded;
    margin-top: 50px;
    margin-bottom: 50px;
}
#phone {
    margin-left: 100px;
}

#email1 {
    margin-left: 100px;
}

#navbar {
    margin-bottom: 0px;
}

#logo {
   display: block;
   margin-left: 0;
   margin-right: 0;
}

.subheader {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 12px;
    font-size: 12px;
}

#highlight_box {
    display: block;
    background-color: #ff0000;
    border-radius: 45%;
}

#section_header {
    text-align: center;
    font-weight: bold;
    font-size: 4vw;
    margin-top: 50px;
    margin-bottom: 50px;
}


#footer {
    background-image: url("media/images/Sanitisers_Full_Logo.png");
    background-repeat: no-repeat;
}

#contact_banner {
    background-color: white;
}

#mainimage {
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}



#img_text {
    font-size: 4vw;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    transform: translate(-50%, -50%);
}

#title {
    font-size: 8vw;
    position: absolute;
    top: 20%;
    left: 70%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    transform: translate(-50%, -50%);
}

#title1 {
    font-size: 4vw;
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    transform: translate(-50%, -50%);
}

/*#title_banner {*/
/*    position: absolute;*/
/*    top: 10%;*/
/*    left: 40%;*/
/*    color: white;*/
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/
/*    transform: translate(-10%, -50%);*/
/*    font-size: 5em;*/
    
/*}*/

#calltoaction {
    margin: auto;
    width:50%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 3vw;
}

#calltoaction1 {
    position: absolute;
    top: 80%;
    left:50%;
    transform: translate(-50%, -20%);
}

/*#inner_titlebox {*/
/*    color: #000000;*/
/*    font-style: italic;*/
/*    font-weight: bold;*/
/*    font-size: 4vw;*/
/*    text-align: center;*/
/*    background-color: yellow;*/
/*    margin-top 50px;*/
/*    margin-bottom: 50px;*/
/*    padding: 50px 100px 50px 100px;*/
/*}*/

#fogging_video {
    margin: 50px 300px 50px 300px;
    width: 340;
    height: 280;
}

#cert {
    margin: 10px;
    border: 2px solid blue;
    padding: 0;
}

#NSAI_badge {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 2vw;
    background-color: yellow;
    text-align: center;
   
}

#flex_cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    
}
#loc.card {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-between;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*margin: 10px;*/
    /*border-width: thin;*/
    /*border-color: blue;*/
}

#loc_img {
    height: 200px;
    width: 300px;
}

#ctabutton {
    font-size: 3vw;
    margin: auto;
}


#why {
    background-color: yellow;
    border-style: inset;
    border-color: #000000;
}

#whyli {
    font-size: 2vw;
    font-stretch: expanded;
    font-weight: bold;
    line-height: 200%;
}

#coverage {
    width: 100%;
    
}

/*Contact Page Settings*/
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

#contact_form {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    background: #00cbff;
}

.form-group {
    margin-left: 0px;
    padding-left: 250px;
}

#formsubmit {
    padding-left: 0px;
}

@media only screen and (max-width: 720px) {
    #mainimage {
        margin-top: 200px;
    }

    #title1 {
        font-size: 6vw;
        position: absolute;
        top: 30%;
        left: 30%;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        transform: translate(-50%, -50%);
    }

    #title {
        font-size: 8vw;
        position: absolute;
        top: 20%;
        left: 70%;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        transform: translate(-50%, -50%);
    }

    #bodytext1 {
        font-size: 4vw;
        font-stretch: expanded;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #covid {
        padding-left: 15%;
    }

    #whyli {
        font-size: 4vw;
        font-stretch: expanded;
        font-weight: bold;
        line-height: 200%;
        margin-top: 20px;
    }

    #why {
        background-color: yellow;
        border-style: inset;
        border-color: #000000;
        margin-top: 30px;
    }
    #section_header {
        text-align: center;
        font-weight: bold;
        font-size: 6vw;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #NSAI_badge {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-bottom: 50px;
        margin-top: 50px;
        font-size: 4vw;
        background-color: yellow;
        text-align: center;
    }

    #calltoaction {
        margin: auto;
        width: 50%;
        padding: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 4vw;
    }
    .form-group {
    margin-left: 0px;
    padding-left: 0px;
    } 
    #fogging_video {
        width: 100%;
        height: 300px;
    }
}